.nav {
  display: flex;
  height: 4rem;
  padding: 0 1.5rem;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

.container a {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper button {
  border: 2px solid var(--yellow);
  background-color: var(--background);
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  transition: background-color 0.2s;
}

.logoutButton {
  color: var(--black);
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  background-color: var(--red);
}
